/* Custom CSS */

html, body {
  height: 100%;
}

/* Offset for the fixed header */
body {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* Danger style - override anything else. */
.danger-danger {
  background-color: #F04124 !important;
  color: #FFF !important;
}

/** Success style - override anything else. */
.success-success {
  background-color: #43AC6A !important;
  color: #FFF !important;  
}

/* For block-style dropdowns */
.btn-block-dropdown {
  width: calc(100% - 42px);
}

/* For when I want a grid with no gutters (http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/) */
/* Currently (03/10/15) not needed but this is good if you want a grid with
   no whitespace between items. */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

/* For the 'All Stop' button colour */
.nav-tabs > li > a.nav-primary {
  background-color: #008CBA !important;
  border-color: #0079A1 !important;
color: #FFF !important;
}

.nav-tabs > li > a.nav-primary:hover {
  background-color: #006687 !important;
  border-color: #001921 !important;
}

/* Make the dropdown menu appear over the map */
.nav-tabs .dropdown-menu {
  z-index: 100000;
}

/* Remove the underline below the tab menu */
.nav-no-underline {
  border-bottom: none !important;
}

/* Offset to allow for page jumps when using a fixed header */
.nav-jump {
  position: relative;
  top: -50px;
}

/* Make the map/main contents area fill the screen vertically */
#main-tab-content {
  height: 80vh;
}

/* To expand the map canvas to fill the page vertically */
.fill {
  height: 100%;
}
.semi-fill {
  /* ~50px for the status bar at the bottom */
  height: calc(100% - 55px);
}

/* Tool tips on the sliders */
.slidertooltip {
	display: none;
	position: absolute;
	border: 1px solid #D9D9D9;
	font: 400 12px/12px Arial;
	border-radius: 3px;
	background: #fff;
	top: -30px;
	padding: 5px;
	left: -9px;
	text-align: center;
	width: 50px;
}

.noUi-handle:hover .slidertooltip, .noUi-active .slidertooltip {
    display: block;
}

/* Fit the small camera image to the well */
#camera-secondary-img {
  width: 100%;
}

/* Don't allow the image to overflow on small screens */
#camera-primary-img {
  max-width: 100%;
}

/* The options tab is too long; scroll on overflow */
#tab-server-config {
  overflow: scroll;
}

/* Overlay on the map to display the flight indicators */
.tab-pane .overlay {
  position: absolute;
  z-index: 999;
  pointer-events: none;
  color: #000;
}

/* Top-right overlay */
.tab-pane .overlay.overlay-tr {
  top: 0;
  right: 0;
}

/* Bottom-left overlay */
.tab-pane .overlay.overlay-bl {
  bottom: 0;
  left: 0;
}

/* Allow click events for buttons in our overlay */
.tab-pane .overlay .btn {
  pointer-events: initial;
}

/* Don't offset HUD when the hide/show button is there too */
#copter-hud-items {
  position: absolute;
  top: 0;
  right: 0;
}

/* Check if the the screen is too small vertically to display the HUD */
@media screen and (max-height: 500px) {
  #copter-hud-primary {
    display: none;
  }
}

#copter-hud-secondary {
  background-color: rgba(255,255,255,0.7);
  font-weight: bold;
}